body{
    background-color: #249797d2;
    font: normal 15pt arial;
}

header{
    font: bold 20pt arial;
    text-align: center;
    color: white;
    background-color: rgba(96, 185, 212, 0.836);
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.376);
}

section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.376);
}

select{
    width: 200px;
    display: block;
    margin: auto;
}

#form{
    text-align: center;
}

#txtnum{
    margin-bottom: 15px;
}

footer{
    color: white;
    text-align: center;
    font: italic;
}
